.git
/apps/web/assets/*.js*
/apps/web/assets/*.css*
/coverage/
/db/backdoor_development
/db/backdoor_test
/node_modules/
/public/assets*
.sass-cache
tmp
log
.DS_Store
.dockerignore
.editorconfig
.env
.env.*
.gitattributes
.gitignore
.tool-versions
.travis.yml
docker-compose.yml
LICENSE
README.md
