.DS_Store
.git
.sass-cache
apps/web/assets/*.js*
apps/web/assets/*.css*
coverage
db/backdoor_development
db/backdoor_test
node_modules
public/assets*
tmp
log
.editorconfig
.env.development
.env.test
.env
.gitattributes
.gitignore
.tool-versions
.travis.yml
docker-compose.yml
Dockerfile
