.DS_Store
node_modules
.env
.git
.sass-cache
tmp
log
package-lock.json

# Hanami's
/db/backdoor_development
/db/backdoor_test
/public/assets*
/tmp

# Agents
build/
dist/
venv/
.vscode
*.egg-info/
*.egg
*.py[cod]
*$py.class
__pycache__/
*.so
*~
.tox
.cache
.pytest_cache
.coverage
