.userRealm-root {
  position: relative;
  display: flex;
  flex: 1;
}

.userRealm-creation-overlay {
  position: absolute;
  z-index: 1500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.userRealm-creation-box {
  position: absolute;
  z-index: 2000;
  top: 10%;
  bottom: 10%;
  left: 20%;
  right: 20%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  padding: 2.5%;
}

.userRealm-scopes-list,
.userRealm-scopes-list ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
