.terminal-root {
  position: relative;
  flex: 1;
  padding: 20px;
  background: linear-gradient(to right,#191a1c,#1b212d);
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: normal;
  color: #f1f1f1;
}

.terminal-root .fa-angle-right {
  position: relative;
  top: 2px;
}

.terminal-root p {
  margin-bottom: 2px;
}

.terminal-status {
  right: 20px;
  top: 25px;
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5CDB95;
}
