<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon 'https://cdn.quatrolabs.com/favicon.ico' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript 'http://localhost:3100/public/assets/app.js' %>
  </body>
</html>
