h1, h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 101%;
}

.application-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
