.layout-root {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-left: 80px;
}

.layout-root__corpus {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout-root__siblings {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
}
